{% extends "layout.html" %}

{% block title %}
    
{% endblock %}

{% block body_class %}eshop{% endblock %}

{% block slider %}
    <div class="row slider">
		<div class="span12 slide active" id="slide1">
			<img src="images/eshop_title_1.png" id='slide1' class="icon">
			<div class="headtext slide1-text">
				<h1>Le commerce électronique est aujourd'hui incontournable !</h1>
				<p class="lead">Antistatique s'applique à développer une solution ecommerce à votre image.</p>
			</div>
		</div>
		<div class="span12 slide" id="slide2">
			<img src="images/eshop_title_2.png" id='slide2' class="icon">
			<div class="headtext slide2-text">
				<h1>Avec Magento la technique est enfin de votre coté !</h1>
				<p class="lead">Sécurité des transactions, gestion des clients, CMS, etc. Tout est sous contrôle.</p>
			</div>
		</div>
		<div class="span12 slide" id="slide3">
			<img src="images/eshop_title_3.png" class="icon">
			<div class="headtext slide3-text">
				<h1>De la newsletter à une présence intelligente sur les réseaux sociaux en passant par la publicité traditionnelle.</h1>
				<p class="lead">Antistatique vous conseille et vous guide dans la promotion de votre magasin en ligne.</p>
			</div>
		</div>
		<div class="button-ctr">
			<a data-toggle="modal" href="#myModal" class="btn-primary big">DEMANDER UN DEVIS</a>
		</div>
		<div class="points">
			<ul>
				<li><a href="#" id="slide1" class="point active"><span>1</span></a></li>
				<li><a href="#" id="slide2" class="point"><span>2</span></a></li>
				<li><a href="#" id="slide3" class="point"><span>3</span></a></li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block mainblock %}
    <section id="explication">
		<div class="container center">
			<div class="row">
				<div class="span4">
					<div class="rect">
						<h2>Antistatique s'occupe de tout</h2>
						<img src="http://placehold.it/350x200">
						<p>Nous vous impliquons dans la globalité du projet. Dans les phases d'analyse, de conception, de réflexion, de réalisation graphique, de développement, de lancement et de promotion. Nous produisons des livrables de qualité, des solutions durables et documentées. Il n'est jamais question de sous-traitance, tout notre travail est 100% swiss-made.</p>
					</div>
				</div>
				<div class="span4">
					<div class="rect">
						<h2>Une plate-forme à votre image</h2>
						<img src="http://placehold.it/350x200">
						<p>Nous développons votre identité graphique sur les nouveaux médias. Que vous soyez un traiteur japonais, un maraicher ou un magasin d'habits notre démarche de conception est totalement personnalisée. Votre site est unique sur toute la toile. La personnalisation ne s'arrête pas à la page d'accueil. Les emails et les factures envoyés depuis l'eshop font également l'objet d'une attention particulière.</p>
					</div>
				</div>
				<div class="span4">
					<div class="rect">
						<h2>Chaque business est unique</h2>
						<img src="http://placehold.it/350x200">
						<p>Nous adaptons le logiciel ecommerce Magento à vos besoins metiers. Votre gamme de produits et vos services ont des spécificités précises que nous intégrons dans le développement du site. Vos clients achètent vos produits sur abonnement, sur facture, paient par carte de crédit ou postcard, nous développons une solution sur mesure. Un objectif pour votre eshop : faciliter l'achat et augmenter la conversion !</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="examples">
		<div class="container center">
			<div class="row">
				<div class="span8 offset1 main">
					<a href="#" rel="popover" data-content="E-Shop pour le traiteur japonais Uchitomi" data-original-title="Uchitomi"><img src="images/uchitomi_big.jpg"></a>
				</div>
				<div class="span2">
					<img src="http://placehold.it/200x200">
					<img src="http://placehold.it/200x200">
					<img src="http://placehold.it/200x200">
				</div>
			</div>
		</div>
	</section>

	<section id="interest">
		<div class="container center">
			<div class="row">
				<div class="span12">
					<div id="myModal2" class="modal hide fade" style="display: none; ">
						    {% include 'form.html' with { form: form } %}
			    </div>    
			  </div>
			<div class="row">
				<div class="span6 offset3 ctr">
					<h2>Int&eacute;ress&eacute; ?</h2>
					<p class="info">Ou besoin de plus d&rsquo;informations ?</p>
					<a data-toggle="modal" href="#myModal2" class="btn-primary">CLIQUEZ-ICI!</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
