{% extends "layout.html" %}

{% block title %}
    
{% endblock %}

{% block body_class %}eshop{% endblock %}

{% block slider %}
    <div id="slider" class="row slider">
    	<div class="scrollable">
	    	<div class="items">
				<div class="item" id="slide1">
					<div class="image span5 offset1">
						<img src="../images/panier1.png" class="icon">
					</div>
					<div class="span5 head-text ">
						<h1>Le commerce électronique est aujourd'hui incontournable !</h1>
						<p class="lead">Antistatique s'applique à développer une solution ecommerce à votre image.</p>
						<div class="button-ctr">
							<a data-toggle="modal" href="#myModal" class="btn-primary big">DEMANDER UN DEVIS</a>
						</div>
					</div>
				</div>
				<div class="item" id="slide2">
					<div class="image span5 offset1">
						<img src="../images/panier2.png" class="icon">
					</div>
					<div class="span5 head-text ">
						<h1>Avec Magento la technique est enfin de votre coté !</h1>
						<p class="lead">Sécurité des transactions, gestion des clients, CMS, etc. Tout est sous contrôle.</p>
						<div class="button-ctr">
							<a data-toggle="modal" href="#myModal" class="btn-primary big">DEMANDER UN DEVIS</a>
						</div>
					</div>
				</div>
				<div class="item" id="slide3">
					<div class="image span5 offset1">
						<img src="../images/panier3.png" class="icon">
					</div>
					<div class="span5 head-text ">
						<h1>De la newsletter à une présence intelligente sur les réseaux sociaux en passant par la publicité traditionnelle.</h1>
						<p class="lead">Antistatique vous conseille et vous guide dans la promotion de votre magasin en ligne.</p>
						<div class="button-ctr">
							<a data-toggle="modal" href="#myModal" class="btn-primary big">DEMANDER UN DEVIS</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="points">
			<ul class="slider-nav">
				<li><a href="#" id="slide1" class="point"><span>1</span></a></li>
				<li><a href="#" id="slide2" class="point"><span>2</span></a></li>
				<li><a href="#" id="slide3" class="point"><span>3</span></a></li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block mainblock %}
    <section id="explication">
		<div class="container center">
			<div class="row">
				<div class="span4">
					<div class="rect">
						<h2>Antistatique s'occupe de tout</h2>
						<img src="http://placehold.it/350x200">
						<p>Nous vous impliquons dans la globalité du projet. Dans les phases d'analyse, de conception, de réflexion, de réalisation graphique, de développement, de lancement et de promotion. Nous produisons des livrables de qualité, des solutions durables et documentées. Il n'est jamais question de sous-traitance, tout notre travail est 100% swiss-made.</p>
					</div>
				</div>
				<div class="span4">
					<div class="rect">
						<h2>Une plate-forme à votre image</h2>
						<img src="http://placehold.it/350x200">
						<p>Nous développons votre identité graphique sur les nouveaux médias. Que vous soyez un traiteur japonais, un maraicher ou un magasin d'habits notre démarche de conception est totalement personnalisée. Votre site est unique sur toute la toile. La personnalisation ne s'arrête pas à la page d'accueil. Les emails et les factures envoyés depuis l'eshop font également l'objet d'une attention particulière.</p>
					</div>
				</div>
				<div class="span4">
					<div class="rect">
						<h2>Chaque business est unique</h2>
						<img src="http://placehold.it/350x200">
						<p>Nous adaptons le logiciel ecommerce Magento à vos besoins metiers. Votre gamme de produits et vos services ont des spécificités précises que nous intégrons dans le développement du site. Vos clients achètent vos produits sur abonnement, sur facture, paient par carte de crédit ou postcard, nous développons une solution sur mesure. Un objectif pour votre eshop : faciliter l'achat et augmenter la conversion !</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="examples">
		<div class="example-nav">
			<ul class="example-list">
				<li class="active"><a class="example-nav-elem" href="#uchitomi" >Projet 1<br><small>Uchitomi</small></a></li>
				<li><a class="example-nav-elem" href="#okado" >Projet 2<br><small>Okado</small></a></li>
				<li><a class="example-nav-elem" href="#marche_cuendet" >Projet 3<br><small>Marché Cuendet</small></a></li>
				<li><a class="example-nav-elem" href="#coolkidz" >Projet 4<br><small>Coolkidz</small></a></li>
			</ul>
		</div>
		<div class="container center">
			<div class="row example-slide active" id="uchitomi">
				<div class="span6 image">
					<img src="../images/uchitomi_big.jpg">
				</div>
				<div class="span6 text">
					<h1>Uchitomi <small><a href="http://www.uchitomi.ch">www.uchitomi.ch</a></small></h1>
					<p>Uchitomi.ch est un site e-commerce permettant la réservation de sushis pour les magasins Uchitomi de Genève et Lausanne. Uchitomi.ch est un projet audacieux construit autour d'un univers japonais et ludique.</p>

					<h2>Notre méthodologie</h2>
					<p>Elle consiste en un travail par itération contenant des étapes d’analyse, d’architecture de l’information, de wireframe, de recherche, de tests utilisateurs, de réalisation graphique, d’intégration, de développement, de personnalisation et de test. Un travail ergonomique et graphique sur le cheminement de la réservation (Choix du retrait de la commande selon les horaires du magasin).</p>

					<p>Uchitomi.ch est un projet respectant les standards 2011. Les dernières technologies HTML5 et CSS3 sont présentes dans le site pour les animations. L'ergonomie a fait l'objet d'une étude approfondie. L'outil Magento a été personnalisé graphiquement et techniquement pour créer cet univers graphique et ludique.</p>

					<h2>Finalisation de la réservation</h2>
					<p>Dans un site ecommerce, les obstacles à la commande diminuent la conversion. Pour améliorer le processus de finalisation de la commande une page unique permet de s'authentifier, choisir le lieu de retrait et réserver.</p>

					<h2>Promotion</h2>
					<p>La newsletter est un média de communication précieux pour les e-commerçants. Pour être efficace, les destinataires doivent savoir pourquoi ils reçoivent des informations et comment se désinscrire. Une première newsletter a été envoyée à tous les contacts d'Uchitomi avec pour objectif : Nettoyer la liste et permettre au japanophone de recevoir une version dans leur langue.</p>
				</div>
			</div>
			<div class="row example-slide" id="okado">
				<div class="span6 image">
					<img src="../images/okado_big.jpg">
				</div>
				<div class="span6 text">
					<h1>Okado <small><a href="http://www.uchitomi.ch">www.okado.ch</a></small></h1>
					<p>«Faire plaisir à ses proches en leur offrant un cadeau personnel, écologique, socialement éthique et original !». Ce slogan d’un e-shop pas comme les autres est développé par Antistatique.net pour La Fondation les Oliviers.</p>

<p>Okado est un site e-commerce qui permet aux internautes d’offrir un cadeau accompagné d’une carte personnalisée à un être cher. Les cadeaux proposés sont fabriqués par des personnes en réinsertion professionnelle. L’acheteur peut décider de la date de livraison du cadeau, celui-ci peut être personnalisé avec une gravure.</p>

<h2>Le début de l’histoire</h2>
<p>Les ateliers Olbis, (fondation Les Oliviers) actifs dans la réinsertion professionnelle, réalisent de beaux objets. Ils ont la volonté de conquérir un nouveau marché et proposer aux internautes une plate-forme d’envoi de cadeaux.</p>

<p>Notre agence crée un site internet e-commerce original et inédit avec les dernières technologies du web (CSS3, Magento, jQuery). Pour Antistatique.net c'est un vrai plaisir de participer à l’élaboration d’un projet avec ces valeurs. </p>
				</div>
			</div>
			<div class="row example-slide" id="marche_cuendet">
				<div class="span6 image">
					<img src="../images/marche_cuendet_big.jpg">
				</div>
				<div class="span6 text">
					<h1>Marché cuendet <small><a href="http://www.uchitomi.ch">www.marche-cuendet.ch (VERIFIER)</a></small></h1>
					<p>Des produits du terroir livré prêt de chez vous?. Et si vous vous offriez un panier de légumes "Made in Vaud"? Pas n’importe quels légumes, une production suisse (IP-SuiSSE) de la région et dans les respects des normes écologiques.</p>

<p>Dans la région Morges-Lausanne , la famille Cuendet cultive avec amour et passion des légumes originaux et inattendus. Pour vous faire profiter de cette diversité, nous avons conçu une boutique en ligne pour l’achat de ces légumes au détails ou au panier.</p>

<p>Une réalisation que nous sommes tenons à partager. Nous avons personnalisé le logiciel Magento pour donner une identité unique à ce site.</p>

<p>Un objectif: convaincre les suisses romands que la commande de légumes par internet peut être simple, ludique, économique et écologique.</p>
				</div>
			</div>
			<div class="row example-slide" id="coolkidz">
				<div class="span6 image">
					<img src="../images/coolkidz_big.jpg">
				</div>
				<div class="span6 text">
					<h1>Coolkidz <small><a href="http://www.coolkidz.ch">www.coolkidz.ch</a></small></h1>
					<p>Les petits ont enfin un endroit ou se procurer une tenue digne des plus beaux tapis rouge ou tout simplement être le plus beau du préau.</p>

<p>Nouveau arrivée dans le paysage des E-Commerce Suisse, Cool Kidz propose des vêtements, accessoires et divers décoration pour enfants. Les marques proposés par Cool Kidz sont souvent non distribué sur le marché physique Suisse.</p>

<p>Cool Kids ou l'E-commerce qui fait plaisir aux parents et aux enfants.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="interest">
		<div class="container center">
			<div class="row">
				<div class="span12">
					<div id="myModal2" class="modal hide fade" style="display: none; ">
						    {% include 'form.html' with { form: form } %}
			    </div>    
			  </div>
			<div class="row">
				<div class="span6 offset3 ctr">
					<h2>Int&eacute;ress&eacute; ?</h2>
					<p class="info">Ou besoin de plus d&rsquo;informations ?</p>
					<a data-toggle="modal" href="#myModal2" class="btn-primary">CLIQUEZ-ICI!</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
